target
build
gradle-user-home
.gradle
.idea

/api-vs-impl-small/gradlew
/api-vs-impl-small/gradlew.bat
/exclude-merging/repository/template/newversion/newversion.iml
/exclude-merging/gradlew
/exclude-merging/gradlew.bat


*/profile.log
**/profile.log

**/gradle/wrapper
**/gradlew
**/gradlew.bat
